---
name: Docker
on:  # yamllint disable-line rule:truthy
  push

jobs:

  build_and_push_docker_image:
    name: Build and push image
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: agilepathway/pull-request-label-checker
          tags: |
            type=ref,event=branch
            type=sha
      - name: Build and push Docker image
        # Skip running on forks or Dependabot since neither has access to secrets
        if: |
          (github.repository == 'agilepathway/label-checker') &&
          (github.actor!= 'dependabot[bot]') &&
          (contains(github.head_ref, 'dependabot/github_actions/') == false)
        uses: docker/build-push-action@v5
        with:
          tags: ${{ steps.meta.outputs.tags }}
          push: true
          platforms: linux/amd64,linux/arm64
