---
name: Docker
on:  # yamllint disable-line rule:truthy
  push

jobs:

  build_and_push_docker_image:
    name: Build and push image
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: docker/build-push-action@v2.9.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: agilepathway/pull-request-label-checker
          tag_with_ref: true
