---
name: Docker
on:  # yamllint disable-line rule:truthy
  [push, create]

jobs:

  build_and_push_docker_image:
    name: Build and push image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: agilepathway/temp-pull-request-label-checker
          tag_with_ref: true
