---
name: Release

on:  # yamllint disable-line rule:truthy
  pull_request_target:
    types:
      - closed

jobs:

  tag:
    name: Tag semantic version
    runs-on: ubuntu-22.04
    outputs:
      tag: ${{ steps.tag.outputs.tag }}
    steps:
      - name: Tag
        uses: K-Phoen/semver-release-action@v1.3.2
        id: tag
        with:
          release_branch: master
          release_strategy: tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    needs: tag
    name: Create GitHub Release
    runs-on: ubuntu-22.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      -
        name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.1
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2.6.1
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build_and_push_docker_image:
    needs: tag
    name: Build and push image
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: docker/build-push-action@v1.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: agilepathway/pull-request-label-checker
          tags: ${{ needs.tag.outputs.tag }}
