---
name: reviewdog
on:  # yamllint disable-line rule:truthy
  push:

jobs:

  golangci-lint:
    name: runner / golangci-lint
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.3
      - uses: reviewdog/action-golangci-lint@v1.12
        with:
          github_token: ${{ secrets.github_token }}
          golangci_lint_flags: "-c .golangci.yml"
          level: "error"
          reporter: github-check

  hadolint:
    name: runner / hadolint
    runs-on: ubuntu-20.04
    steps:
      - name: Check out code
        uses: actions/checkout@v2.3.3
      - name: hadolint
        uses: reviewdog/action-hadolint@v1.8
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check

  yamllint:
    name: runner / yamllint
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.3
      - name: yamllint
        uses: reviewdog/action-yamllint@v1.1.0
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check

  shellcheck:
    name: runner / shellcheck
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.3
      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1.4.0
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          path: "."
          pattern: "*.sh"
          exclude: "./.git/*"

  misspell:
    name: runner / misspell
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.3
      - uses: reviewdog/action-misspell@v1.5.0
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          exclude: "./go.sum"

  languagetool:
    name: runner / languagetool
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.3
      - uses: reviewdog/action-languagetool@v1.4
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          patterns: |
            **/*.md
          language: en
