---
name: reviewdog
on:  # yamllint disable-line rule:truthy
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
  push:

jobs:

  golangci-lint:
    name: runner / golangci-lint
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: reviewdog/action-golangci-lint@v1.24
        with:
          github_token: ${{ secrets.github_token }}
          golangci_lint_flags: "-c .golangci.yml"
          level: "error"
          reporter: github-check

  hadolint:
    name: runner / hadolint
    runs-on: ubuntu-20.04
    steps:
      - name: Check out code
        uses: actions/checkout@v2.3.4
      - name: hadolint
        uses: reviewdog/action-hadolint@v1.22
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check

  yamllint:
    name: runner / yamllint
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
      - name: yamllint
        uses: reviewdog/action-yamllint@v1.2
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check

  shellcheck:
    name: runner / shellcheck
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1.6
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          path: "."
          pattern: "*.sh"
          exclude: "./.git/*"

  misspell:
    name: runner / misspell
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: reviewdog/action-misspell@v1.12.0
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          exclude: "./go.sum"

  languagetool:
    name: runner / languagetool
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: reviewdog/action-languagetool@v1.6
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          patterns: |
            **/*.md
          language: en
          disabled_rules:
            "GITHUB,DASH_RULE,PUNCTUATION_PARAGRAPH_END"
