---
on:  # yamllint disable-line rule:truthy
  # Run the tests on every push and pull request, and also at 3am every night
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
  push:
  schedule:
    - cron: '0 3 * * *'  # * is a special character in YAML so you have to quote this string
name: Tests
jobs:
  tests:
    name: Virtual
    runs-on: ubuntu-22.04
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21.6'
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Hoverfly
        # do not specify a specific semver version or we will have an infinite circular dependency loop,
        # between the hoverfly-github-action and this label-checker
        uses: agilepathway/hoverfly-github-action@main
        with:
          runner_github_workspace_path: ${{ github.workspace }}
      - name: Enable https calls to be simulated by Hoverfly
        run: install-and-trust-hoverfly-default-cert.sh
      - name: Tests
        run: |
          go test ./... -v
          go test ./... -enterprise-cloud -v
          go test ./... -enterprise-server -v
